{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}
{% for command in commands %}
    {% if (command.state.value==1) %}
        {% set count = count + 1 %}
    {% endif %}
{% endfor %}
{% block body %}
    <button class="refresh float-right btn btn-warning">Refresh</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex">
                    <h2 > {{ count }} </h2>
                    <h2 class="ml-3">Commandes en attente</h2>


                </div>
                {% for command in commands %}
                    {% if command.state.value == 1 %}
                        <div class="pending-commands command" id="command-{{ command.id }}">
                        <div class="header">
                            <div class=" float-right m-2 button-box">
                                <button data-id="{{ command.id }}" data-state-value="2" data-action="accept" class="btn btn-success accept" data-key="{{ api_key }}">Accepter</button>
                                <button data-id="{{ command.id }}" data-state-value="3" data-action="deny" class="btn btn-danger deny" data-key="{{ api_key }}">Refuser</button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Pour <span class="time">{{ command.time.hourCommand }}</span></span>
                                <span> Par
                                    {{ command.user.Fname }}
                                    {{ command.user.Lname }}
                                </span>
                                <span>Tel: {{ command.user.phone }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    Crée le {{ command.datetime | date("j M") }} à  {{ command.datetime | date("H:i") }}
                                </div>
                                <div>
                                    Prix: {{ command.totalPrice }} €
                                </div>
                            </div>
                        </div>
                        <div class="row m-auto w-100">


                        {% if command.commandAssocs%}
                            <div class="col">
                                <div>
                                    <div class="ml-3">A la carte:</div>
                                    {% for assoc in command.commandAssocs %}
                                        <div class="ml-5">{{ assoc.quantity }}x {{ assoc.assoc.quantity }} {{ assoc.assoc.type.name }}s {{ assoc.assoc.product.name }}</div>
                                    {% else %}
                                        <div class="ml-5">Aucun produit à la carte</div>
                                    {%  endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if command.commandMenus %}

                            <div class="col">
                                <div>
                                    <div class="ml-3">Menus:</div>
                                    {% for menu in command.commandMenus %}
                                        <div class="ml-5">{{ menu.quantity }} {{ menu.menu.name }}</div>
                                    {% else %}
                                        <div class="ml-5">Aucun menu</div>
                                    {%  endfor %}
                                </div>
                            </div>
                            </div>
                            </div>
                        {% endif %}
                    {%  endif %}
                {% else %}
                    <h3>Pas de commande en attente de validation</h3>
                {% endfor %}
            </div>

            <div class="col-sm-6" id="commandActive">
                <div class="d-flex">
                    <h2>Commandes en cours</h2>
                </div>
                {% for command in commands %}
                    {% if command.state.value == 2 %}
                        <div class="command" id="command-{{ command.id }}">
                        <div class="header">
                            <div class=" float-right m-2 button-box">
                                <button data-id="{{ command.id }}" data-action="finish" data-state-value="4" class="btn btn-info finish" data-key="{{ api_key }}">Terminé</button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Pour {{ command.time.hourCommand }}</span>
                                <span> Par
                                    {{ command.user.Fname }}
                                    {{ command.user.Lname }}
                                </span>
                                <span>Tel: {{ command.user.phone }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    Crée le {{ command.datetime | date("j M") }} à  {{ command.datetime | date("H:i") }}
                                </div>
                                <div>
                                    Prix: {{ command.totalPrice }} €
                                </div>
                            </div>
                        </div>
                        <div class="row m-auto w-100">


                        {% if command.commandAssocs%}
                            <div class="col">
                                <div>
                                    <div class="ml-3">A la carte:</div>
                                    {% for assoc in command.commandAssocs %}
                                        <div class="ml-5">{{ assoc.quantity }}x {{ assoc.assoc.quantity }} {{ assoc.assoc.type.name }}s {{ assoc.assoc.product.name }}</div>
                                    {% else %}
                                        <div class="ml-5">Aucun produit à la carte</div>
                                    {%  endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if command.commandMenus %}

                            <div class="col">
                                <div>
                                    <div class="ml-3">Menus:</div>
                                    {% for menu in command.commandMenus %}
                                        <div class="ml-5">{{ menu.quantity }} {{ menu.menu.name }}</div>
                                    {% else %}
                                        <div class="ml-5">Aucun menu</div>
                                    {%  endfor %}
                                </div>
                            </div>
                            </div>
                            </div>
                        {% endif %}
                    {%  endif %}
                {% else %}
                    <h3>Pas de commande en attente de validation</h3>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // setTimeout(function(){
            //     location.reload();
            // }, 60000);

            $('.refresh').on('click', function(){
                location.reload();
            });
            var boxes = $('.pending-commands');
            for (i=0; i<boxes.length; i++) {
                let time = boxes[i].closest( ".time" );
                console.log(time.html())
            }
            $('.accept, .deny, .finish').on('click', function() {
                $(this).prop('disabled', true);
                let stateValue = $(this).attr("data-state-value");
                let commandId = $(this).attr("data-id");
                let action = $(this).attr("data-action");
                let finishButton = '<button data-id="'+commandId+'" data-action="finish" data-state-value="4" class="btn btn-info finish">Terminé</button>';
                let apiKey = $(this).attr('data-key');
                let selectedCommand = $('#command-'+commandId);
                let commandInProcess = $('#commandActive');

                $.ajax({
                    url: 'http://admin.ojbento.fr/command/' + commandId + '/status',
                    type: "PATCH",
                    data: {
                        state: stateValue,
                        apikey : apiKey
                    }
                }).then(function(response) {
                    if (response.status && response.status == "success") {
                        if(action === 'deny' || action === 'finish'){
                            selectedCommand.remove();
                        }
                        else if(action === 'accept'){
                            let buttonBox = $(this).parent();
                            selectedCommand.remove();
                            buttonBox.empty();
                            buttonBox.append(finishButton);
                            commandInProcess.append(selectedCommand);

                        }
                        location.reload();
                    }

                }).catch(function(){


                });
            });
        })
    </script>
{% endblock %}
