{% extends 'base.html.twig' %}

{% block title %}Commandmenu{% endblock %}

{% block body %}
    <h1>Commandmenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandmenu.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ commandmenu.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commandmenu_index') }}">back to list</a>

    <a href="{{ path('commandmenu_edit', {'id': commandmenu.id}) }}">edit</a>

    {{ include('commandmenu/_delete_form.html.twig') }}
{% endblock %}
