{% extends 'base.html.twig' %}

{% block title %}Edition d'une association{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Modifier une association</h1>
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.type) }}
                {{ form_row(form.product) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.description) }}
                {{ form_row(form.composition) }}
                {{ form_row(form.allergens) }}
            </div>
            <div class="col-6">
                {{ form_row(form.image) }}
                <img src="">
                {{ form_row(form.isDish) }}


                {{ form_row(form.prices) }}

            </div>
        </div>
    </div>

    

    <div class="container d-flex">
        <a class=" btn btn-danger btn-rounded mr-2">{{ include('assoc/_form.html.twig', {'button_label': 'Sauvegarder'}) }}</a>
        <a class="btn btn-danger btn-rounded mr-2">{{ include('assoc/_delete_form.html.twig') }}</a>
        <a class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2" href="{{ path('assoc_index') }}">Revenir à la liste</a>
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src ="{{ (asset('asset/js/assoc.js')) }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#assoc_forMenu').val('0');
            if (!$('.prices')) {
                addPriceFrom($collectionHolder, $newPrice);
            }
        })
    </script>
{% endblock %}
