{% extends 'base.html.twig' %}

{% block title %}Edit Assoc{% endblock %}

{% block body %}
    <h1>Modifier une association</h1>
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.type) }}
                {{ form_row(form.product) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.description) }}
                {{ form_row(form.composition) }}
            </div>
            <div class="col-6">
                {{ form_row(form.image) }}
                <img src="">
                {{ form_row(form.isDish) }}


                {{ form_row(form.prices) }}

            </div>
            {{ form_row(form.allergens) }}
        </div>
    </div>
    <button class="btn">Save</button>
    <a href="{{ path('assoc_index') }}">back to list</a>
    {{ form_end(form) }}
    {{ include('assoc/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src ="{{ (asset('asset/js/assoc.js')) }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#assoc_forMenu').val('0');
            if (!$('.prices')) {
                addPriceFrom($collectionHolder, $newPrice);
            }
        })
    </script>
{% endblock %}
