{% extends 'base.html.twig' %}

{% block title %}Assoc{% endblock %}

{% block body %}

<div class="card">
  <h1 class="card-header text-center font-weight-bold text-uppercase py-4">Assoc</h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assoc.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ assoc.quantity }}</td>
            </tr>
            <tr>
                <th>IsDish</th>
                <td>{{ assoc.isDish ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ assoc.description }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ assoc.composition }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <a class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2" href="{{ path('assoc_index') }}">Revenir à la liste</a>

        <a class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2" href="{{ path('assoc_edit', {'id': assoc.id}) }}">Editer</a>

        <a style="color: white;" class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2">{{ include('assoc/_delete_form.html.twig') }}</a>
    </div>
{% endblock %}
