{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<div class="card">
  <h1 class="card-header text-center font-weight-bold text-uppercase py-4">Produits</h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('product_show', {'id': product.id}) }}">Afficher</a>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('product_edit', {'id': product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('product_new') }}">Créer un nouveau produit</a>
{% endblock %}