<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <h3> Tu es connecté {% if is_granted('ROLE_ADMIN') %} en admin {% endif %}</h3>
        <a href="{{ path("fos_user_security_logout") }}"> <button class="btn btn-primary">Déconnexion</button></a>
    {% else %}
        <a href="{{ path("fos_user_security_login") }}"> <button class="btn btn-primary">Connexion</button></a>
    {% endif %}
{#    <a href="{{ path('menu_index') }}"><button class="btn btn-secondary">Menu</button></a>#}
{#    <a href="{{ path('product_index') }}"><button class="btn btn-secondary">Produits</button></a>#}
{#    <a href="{{ path('menu_index') }}"><button class="btn btn-secondary">Images</button></a>#}
{#    <a href="{{ path('allergen_index') }}"><button class="btn btn-secondary">Allergènes</button></a>#}
{% endblock %}
<script src ="{{ (asset('asset/js/jquery.js')) }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


{% block javascripts %}
{% endblock %}

</body>
</html>