{% extends 'base.html.twig' %}

{% block title %}Commandassoc index{% endblock %}

{% block body %}
    <h1>Commandassoc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commandassoc in commandassocs %}
            <tr>
                <td>{{ commandassoc.id }}</td>
                <td>{{ commandassoc.quantity }}</td>
                <td>
                    <a href="{{ path('commandassoc_show', {'id': commandassoc.id}) }}">show</a>
                    <a href="{{ path('commandassoc_edit', {'id': commandassoc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commandassoc_new') }}">Create new</a>
{% endblock %}
