{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}

<div class="card">
  <h1 class="card-header text-center font-weight-bold text-uppercase py-4">Menus</h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Products</th>
                <th>Price</th>
                <th>IsMidi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{% if menu.assocs %}
                       {% for assoc in menu.assocs %}
                            <div> {{ assoc.quantity }} {{ assoc.type }} {{ assoc.product.name }}</div>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{% for price in menu.prices %} <div> {{ price.value }}€ {{ price.type }}</div>{% endfor %}</td>
                <td>{{ menu.isMidi ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn-rounded btn-sm my-0" href="{{ path('menu_new') }}">Create new</a>
{% endblock %}

